In [4]:
%%writefile utils.py
import pandas as pd
def getPlayerHist(pid,df):
    tk1='player1'
    tk2='player2'
    other = [x for x in list(df.columns) if not("_" in x)]
    ext = list(set([y.split('_')[1] for y in [x for x in list(df.columns) if ("_" in x)]]))
    
    pid_df = df[(df[tk1+'_'+ext[0]]==pid)]
    pid_df.winner_id=(pid_df["winner_id"]==pid)
    pid_df.rename(columns=dict(zip([tk1+"_"+x for x in ext]+[tk2+"_"+x for x in ext],
                                   ["player_"+x for x in ext]+["opponent_"+x for x in ext])),inplace=True)

    pid2_df = df[(df[tk2+'_'+ext[0]]==pid)]
    pid2_df.winner_id=(pid2_df["winner_id"]==pid)
    pid2_df.rename(columns=dict(zip([tk2+"_"+x for x in ext]+[tk1+"_"+x for x in ext],
                                    ["player_"+x for x in ext]+["opponent_"+x for x in ext])),inplace=True)

    pid_df = pd.concat([pid_df,pid2_df])
    pid_df.sort_values(by=["Tourn","Round","Match"],ascending=[False,False,True],inplace=True)

    return pid_df

def getMatchUpData(pid1,pid2,df):
    mu_df = df[((df["player1_id"]==pid1)&(df["player2_id"]==pid2)|(df["player1_id"]==pid2)&(df["player2_id"]==pid1))]
    mu_df.sort_values(by=["Tourn","Round","Match"],ascending=[False,False,True],inplace=True)
    return mu_df

Overwriting utils.py

In [7]:
%%writefile liveSport.py
from sportplayer import *

class liveTourn(tournament):
    def __init__(self, playerList,pointPerRound=5):
        super().__init__(playerList,pointPerRound)
    
    def playTourn(self):
        """
        A function to play the entire tournament. When this one is called it will only play the next step
        """
        if len(self.currentRound)>1:
            nextRound = self.playRound()
            self.currentRound = nextRound
            self.round+=1
            if len(self.currentRound)==1:
                self.currentRound[0].gainPoints(self.round*self.points)
                self.tournRes = pd.DataFrame(self.matchRec,columns=["Round", "Match",
                                                                    "player1_id","player1_rnkPoints","player1_perform",
                                                                    "player2_id","player2_rnkPoints","player2_perform","winner_id"])
                return True
            else:
                return False
        else:
            return True
        
class liveSeason(season):
    def __init__(self,numPlayers=16,tournToPlay=20, players=None, playerSum=None):
        super().__init__(numPlayers=16,tournToPlay=20, players=None, playerSum=None)
        shuffle(self.players)
        self.currentTourn = liveTourn(self.players)
        self.currentTournComplete = False
        
    def playSeason(self):
        """
        A function to play out the season of tournaments. when it is called it just does one step of the tournament.
        """
        if self.week == self.tournsToPlay:
            return True
        else:
            if self.currentTournComplete:
                shuffle(self.players)
                self.currentTourn = liveTourn(self.players)

            self.currentTournComplete = self.currentTourn.playTourn()
            if self.currentTournComplete:
                self.gatherPoints()
                self.tournRecs.append(self.currentTourn.tournRes)
                self.week+=1
            return False

Overwriting liveSport.py

In [8]:
from liveSport import *
from utils import *
import pandas as pd

In [2]:
for i in range(0,50):
    x=pd.read_csv("seasonData/tournament_"+str(i)+".csv")
    x['Tourn']=i
    if i==0:
        df = x
    else:
        df = pd.concat((df,x))

df.sort_values(by=["Tourn","Round","Match"],ascending=[False,False,True],inplace=True)
df=df[[list(df.columns)[-1]]+list(df.columns)[0:9]]

In [3]:
# other = [x for x in list(df.columns) if not("_" in x)]
# ext = list(set([y.split('_')[1] for y in [x for x in list(df.columns) if ("_" in x)]]))

In [9]:
getPlayerHist(1,df).head()

/Users/James.Strudwick@ibm.com/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/Users/James.Strudwick@ibm.com/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/Users/James.Strudwick@ibm.com/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/Users/James.Strudwick@ibm.com/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Tourn,Round,Match,player_id,player_rnkPoints,player_perform,opponent_id,opponent_rnkPoints,opponent_perform,winner_id
6,49,1,7,1,85,82,12,120,88,False
12,48,3,1,1,95,83,14,195,102,False
9,48,2,2,1,95,78,0,75,55,True
3,48,1,4,1,95,78,13,50,33,True
8,47,2,1,1,90,77,5,165,103,False

In [10]:
getMatchUpData(1,2,df)

/Users/James.Strudwick@ibm.com/Documents/Project stuff/Research/Hierarchical-Node-Classification/utils.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mu_df.sort_values(by=["Tourn","Round","Match"],ascending=[False,False,True],inplace=True)

,Tourn,Round,Match,player1_id,player1_rnkPoints,player1_perform,player2_id,player2_rnkPoints,player2_perform,winner_id
12,31,3,1,1,90,66,2,70,39,1
8,25,2,1,1,90,87,2,90,45,1
7,18,1,8,1,110,79,2,95,48,1
4,14,1,5,1,110,82,2,80,62,1
3,12,1,4,1,115,82,2,90,62,1
5,5,1,6,1,65,80,2,50,56,1
8,3,2,1,2,30,51,1,35,76,1

In [9]:
# pl,_=generatePlayers(16)
# lt = liveTourn(pl)

In [10]:
# lt.playTourn()

In [11]:
# lt.matchRec

In [12]:
ls=liveSeason()

In [31]:
[x for x in ls.playerSum.iloc[:,[0,-1]].columns]

['name', 'week_0']

In [35]:
ls.playSeason()

False

In [36]:
ls.currentTourn.matchRec

[[1, 1, '9', 25, 92, '8', 15, 91, '9'],
 [1, 2, '2', 5, 32, '6', 5, 29, '2'],
 [1, 3, '10', 10, 100, '12', 10, 46, '10'],
 [1, 4, '11', 15, 81, '14', 5, 29, '11'],
 [1, 5, '1', 5, 82, '0', 10, 71, '1'],
 [1, 6, '5', 20, 95, '4', 5, 63, '5'],
 [1, 7, '3', 10, 63, '13', 5, -5, '3'],
 [1, 8, '7', 5, 34, '15', 5, 59, '15'],
 [2, 1, '9', 25, 98, '2', 5, 18, '9'],
 [2, 2, '10', 10, 88, '11', 15, 86, '10'],
 [2, 3, '1', 5, 67, '5', 20, 60, '1'],
 [2, 4, '3', 10, 57, '15', 5, 72, '15'],
 [3, 1, '9', 25, 101, '10', 10, 87, '9'],
 [3, 2, '1', 5, 78, '15', 5, 79, '15'],
 [4, 1, '9', 25, 82, '15', 5, 94, '15']]

In [37]:
ls.tournRecs

[    Round  Match player1_id  player1_rnkPoints  player1_perform player2_id  \
 0       1      1          1                  0               74         10
 1       1      2          8                  0               77         13
 2       1      3         15                  0               69          0
 3       1      4          5                  0               74         14
 4       1      5          3                  0               52          7
 5       1      6          4                  0               37          9
 6       1      7          2                  0               22         12
 7       1      8          6                  0               16         11
 8       2      1         10                  0               74          8
 9       2      2          0                  0               70          5
 10      2      3          3                  0               45          9
 11      2      4         12                  0               35         11
 12      3      1          8                  0               63          5
 13      3      2          9                  0              100         11
 14      4      1          5                  0               54          9

     player2_rnkPoints  player2_perform winner_id
 0                   0               90        10
 1                   0               -4         8
 2                   0               86         0
 3                   0               18         5
 4                   0               39         3
 5                   0               98         9
 6                   0               56        12
 7                   0               92        11
 8                   0               94         8
 9                   0               81         5
 10                  0               96         9
 11                  0              103        11
 12                  0               85         5
 13                  0               79         9
 14                  0               73         9  ,
     Round  Match player1_id  player1_rnkPoints  player1_perform player2_id  \
 0       1      1          9                 25               92          8
 1       1      2          2                  5               32          6
 2       1      3         10                 10              100         12
 3       1      4         11                 15               81         14
 4       1      5          1                  5               82          0
 5       1      6          5                 20               95          4
 6       1      7          3                 10               63         13
 7       1      8          7                  5               34         15
 8       2      1          9                 25               98          2
 9       2      2         10                 10               88         11
 10      2      3          1                  5               67          5
 11      2      4          3                 10               57         15
 12      3      1          9                 25              101         10
 13      3      2          1                  5               78         15
 14      4      1          9                 25               82         15

     player2_rnkPoints  player2_perform winner_id
 0                  15               91         9
 1                   5               29         2
 2                  10               46        10
 3                   5               29        11
 4                  10               71         1
 5                   5               63         5
 6                   5               -5         3
 7                   5               59        15
 8                   5               18         9
 9                  15               86        10
 10                 20               60         1
 11                  5               72        15
 12                 10               87         9
 13                  5               79        15
 14                  5               94        15  ]

In [67]:
df = ls.playerSum.iloc[:,[0,-1]]

/Users/James.Strudwick@ibm.com/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-67-eefdea855716>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(axis=0,by='points',ascending=False,inplace=True)

In [68]:
df

   player  points
0       9      45
4       5      30
5      15      30
2      10      25
3      11      25
1       8      20
6       1      20
9       3      20
7       0      15
11     12      15
12      2      15
8       7      10
10      4      10
13      6      10
14     14      10
15     13      10